body{
    margin: 0 auto;
    background-color: #bff2f1;
}

#quest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
}

h1,h3{
    text-align: center;
    color: black;
}

h1{
    margin-top: 0;
}
h3{
    margin: 0;
    margin-bottom: 5px;
}

label, input{
    margin-left: 25%; 
    width: 50%;
}

input{
    background-color: white;
    border: 0;
    border-radius: 50px;
    color: black;
}

button{
    margin: 5px 25%;
    width: 50%;
    height: 10%;
    color: white;
    background: #343a40;
    border: 0;
}